<!-- Password Generator -->
<div class="header">
  <h1>Password generator</h1>

  <div>
    <label for="input">Enter length</label>
    <input (input)="onChangeLength($event.target.value )" />
  </div>

  <div>
    <label for="input">Use Letters</label>
    <input type="checkbox" (change)="onChangeLetters()" name="letters" />
  </div>

  <div>
    <label for="input">Use Numbers</label>
    <input type="checkbox" (change)="onChangeNumbers()" name="numbers" />
  </div>

  <div>
    <label for="input">Enter Symbols</label>
    <input type="checkbox" (change)="onChangeSymbols()" name="symbols" />
  </div>

  <div>
    <button [disabled]="!(lengths && (letters || numbers || symbols))" 
          (click)='onButtonClick()' >Generate</button> 
  </div>

  <div>
    <label for="output">Your password is...</label>
    <input [value]="password" />
  </div>

  <!-- <h1> {{ password }} </h1> -->


</div>
